.todo-item-container {
    margin: 10px 0 10px;
    display: flex;
}

.todo-item-date {
    width: 175px;
    border-radius: 6px 0 0 6px;
}

.todo-item-description {
    width: 450px;
    border-radius: 0;
}

.button {
    width: 75px;
    border-radius: 0;
    height: 100%;
}

.delete {
    border-radius: 0 6px 6px 0;
}

.todo-item-buttons-container {
    display: flex;
    flex-direction: row;
}